.footer_wrapper {
  padding-top: 40px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 16px;
  > div {
    display: flex;
    align-items: center;
    gap: 12px;
  }
}
.footer_nav,
.footer_social {
  display: flex;
  gap: 16px;
  list-style: none;
  .footer_social_item {
    color: #13e2da;
  }
  a {
    color: var(--textColor);
    &:hover {
      color: var(--textHover);
    }
  }
}
.footer_logo {
  width: 54px;
  height: 54px;
  background: linear-gradient(to bottom, #9055ff, #13e2da);
  border-radius: 50%;
  padding: 2px;
  img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
  }
}
.footer_nav_item {
  padding: 4px 6px;
}
.footer_line {
  background: linear-gradient(to bottom, #9055ff, #13e2da);
  width: 100%;
  height: 2px;
  border-radius: 2px;
}
.footer_description {
  span {
    color: #13e2da;
  }
}
