.projects {
  flex-direction: column;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.projects_title {
  font-size: 3rem;
}
.projects_description {
  font-size: 2rem;
}
.projects_list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1210px;
}
.projects_item_wrapper {
  width: 33.33%;
  height: 440px;
  padding: 16px;
  .projects_item {
    overflow: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;
    // border: 1px solid red;
    border-radius: 16px;
    .projects_item_thumb {
      width: 100%;
      max-width: 100vw;
      background-color: #363636;
      img {
        width: 120%;
        height: 100%;
        border-radius: 16px 16px 0px 0px;
        aspect-ratio: 16/9;
      }
    }
    .projects_item_content {
      flex-direction: column;
      display: flex;
      padding: 16px 8px;
      flex-grow: 1;
      gap: 8px;
      background-color: #363636;
      justify-content: space-between;
      h3 {
        font-size: 1.5rem;
      }
      .projects_item_direct {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 12px;
        > div {
          display: flex;
          gap: 8px;
          a {
            color: #fff;
            text-decoration: underline;
            &:hover {
              color: var(--textHover) !important;
            }
          }
        }
      }
    }
  }
}

@media all and (max-width: 768px) {
}
@media all and (max-width: 480px) {
  .projects {
    margin-top: 3rem;
  }
  .projects_title {
    font-size: 1.5rem !important;
  }
  .projects_description {
    font-size: 1rem !important;
  }
  .projects_item_wrapper {
    width: 100% !important;
  }
}
